<div class="col-md-3 m-2 p-0 rounded border border-dark" >
    <img class="w-100" src="{{ asset("/photos/" ~ dossier ~ "/" ~ chaton.filename) }}" style="width: 18rem;">
    <div class="name p-4">
        <dt class="font-weight-bold">{{ chaton.filename }}</dt>
    </div>
</div>